<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LibMonkeyExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MonkeyRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OCMonkeyLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OCMonkeyPaws.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OCMonkeyPawsExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libmonkey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>036FFF6D1ED2DAC7002C94BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4069E7241E67FB2800C1C832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4069E8051E6806BB00C1C832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>407B10251E89390600C2E93D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>407B10421E893B0D00C2E93D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40AE4F5B1EB8424C006A13C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40AE50661EB89FB1006A13C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
